body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #06283D;
    color: white;
    text-align: center;
}

header {
    background: #1363DF;
    padding: 25px;
    border-bottom: 4px solid #47B5FF;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    background: #051923;
}

button {
    background: #47B5FF;
    color: #001;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}

.page {
    padding: 25px;
}

.hidden {
    display: none;
}

input {
    width: 80%;
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.level-box {
    background: #1363DF;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
}

#catchList,
#spotList,
#trophyList {
    margin-top: 20px;
}

.card {
    background: #0B4F6C;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
}

h2 {
    color: #47B5FF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #0B4F6C;
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: #051923;
}

@media (max-width: 600px) {

    header h1 {
        font-size: 24px;
    }

    button {
        width: 90%;
    }

    input {
        width: 90%;
    }
}
